<h3 class="text-center">Template Driven Form</h3>

<div class="container w-50 mt-2">
  <form #userRegForm="ngForm" (ngSubmit)="save(userRegForm)">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
      <input type="text" class="form-control" name="fName" [(ngModel)]="twoWayForm.fname" #fname="ngModel" required>
      <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="fname.invalid">
        *Required Field.
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
      <input type="text" class="form-control" name="lName" [(ngModel)]= "twoWayForm.lname">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Mobile</span>
      <input type="number" class="form-control" name="Mobile" [(ngModel)]="twoWayForm.mobile" #mobile="ngModel" required>
      <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="mobile.invalid">
        *Required Field.
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
      <input type="email" class="form-control" name="Mail" [(ngModel)]="twoWayForm.mail" #mail="ngModel" required>
      <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="mail.invalid">
        *Required Field.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

<h4>Value : {{userRegForm.value | json}}</h4>
<h4>Valid : {{userRegForm.valid}}</h4>
<h4>inValid : {{userRegForm.invalid}}</h4>
<h4>Dirty : {{userRegForm.dirty}}</h4>
<h4>Pristine : {{userRegForm.pristine}}</h4>
<h4>Submitted : {{userRegForm.submitted}}</h4> 
